<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="navbar">
        <!-- Display the user's email in the top right corner -->
        {% if user_email %}
            <div class="user-info">
                Logged in as: {{ user_email }}
            </div>
            <form action="/signout">
              <button type="submit" class="sign-out-btn">Sign Out</button>
          </form>
        {% endif %}
    </div>

    <div class="home-container">
        <h2>Welcome to the EntertainME!</h2>
        <p>Click the button below to start your quiz!</p>
        
        <form action="/start_quiz">
            <button type="submit" class="start-quiz-btn">Start Quiz</button>
        </form>

        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            <ul>
            {% for category, message in messages %}
              <li class="{{ category }}">{{ message }}</li>
            {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}
    </div>
</body>
</html>