<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

    <div class="navbar">
        <!-- Display the user's email in the top right corner -->
        {% if user_email %}
            <div class="user-info">
                Logged in as: {{ user_email }}
            </div>
            <form action="/signout">
              <button type="submit" class="sign-out-btn">Sign Out</button>
          </form>
        {% endif %}
    </div>

    <div class="quiz-container">
        <!-- Unwatched button -->
        <form method="POST" action="/add_to_unwatched">
            <button class="watchlist" type="submit">Unwatched</button>
        </form>

        <!-- Movie poster and rating scale -->
        <div class="poster-container">
            <h2>Rate the Movie</h2>
            <img src="{{ quiz.current_movie_poster }}" alt="Movie Poster" class="movie-poster"><br><br>

            <!-- Rating Scale -->
            <form method="POST" action="/submit_score">
                <!-- Hidden input for movie_id -->
                <input type="hidden" name="movie_id" value="{{ quiz.current_movie_id }}">

                <div class="rating-scale">
                    <span class="feedback">&#128577;</span> <!-- sad emoji -->
                    {% for i in range(1, 11) %}
                    <button type="submit" name="score" value="{{ i }}" class="scale-option">{{ i }}</button>
                    {% endfor %}
                    <span class="feedback">&#128515;</span> <!-- happy emoji -->
                </div>
            </form>
        </div>

        <!-- Add to Watchlist form -->
        <form method="POST" action="/add_to_watchlist">
            <button class="watchlist" type="submit">Add to Watchlist</button>
        </form>

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <ul>
        {% for category, message in messages %}
        <li class="{{ category }}">{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
</body>
</html>